body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.bg-main {
    background-color: #03a9f3;
}

.bg-secondary {
    background-color: #ea1e63;
}